html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.btn-danger,.btn-warning,.btn-info,.btn-success
{
	border: 0px;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	outline: none;
}

ul.elems li
{
	float: left;
	padding: 10px;
	list-style: none;
	max-width: 170px;
}

.stat-finished,.stat-active,.stat-deleted,.stat-deadline
{
	width: 20px;
	height: 20px;
	margin: 0px auto;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: 0px 0px 3px 1px rgba(119, 119, 119, 0.68);
-moz-box-shadow: 0px 0px 3px 1px rgba(119, 119, 119, 0.68);
-webkit-box-shadow: 0px 0px 3px 1px rgba(119, 119, 119, 0.68);
}
.stat-active
{
	background: #FFEC1C;
}
.stat-finished
{
	background: #8BFF1F;
}
.stat-deleted
{
	background: #FF470F;
}
.stat-deadline
{
	background: #14A1FF;
}

table a
{
	color: inherit;
}

.products .order
{
	margin-bottom: 80px;
	display: block;
}
.product_small
{
	height: 285px;
}
.product_small img
{
    display: block;
    margin: 0px auto;
	max-width: 320px;
	height: 200px;
}
.product_small .product_title
{
    text-align: center;
}
.product_small .product_title
{
    max-width: 150px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.order
{
    width: 200px;
    margin: 0px auto;
}
.order input[type="text"]
{
    max-width: 40px;
}

.product_full img
{
    display: block;
    margin: 0px auto;
	max-width: 400px;
	margin-bottom: 40px;
}


.red
{
    color: #ff0000;
}


.table-products .product_photo
{
	width: 90px;
}